In [1]:
import pandas as pd
import numpy as np

In [2]:
transaction_file = "/Users/ryotayamaoka/Desktop/kpmg/Transactions.csv"

df = pd.read_csv(transaction_file)

In [3]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2/25/2017,False,Approved,Solex,Standard,medium,medium,71.49,$53.62,41245.0
1,2,3,3120,5/21/2017,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,$388.92,41701.0
2,3,37,402,10/16/2017,False,Approved,OHM Cycles,Standard,low,medium,1793.43,$248.82,36361.0
3,4,88,3135,8/31/2017,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,$381.10,36145.0
4,5,78,787,10/1/2017,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,$709.48,42226.0

In [4]:
df.dtypes

transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost               object
product_first_sold_date    float64
dtype: object

In [5]:
df.info

<bound method DataFrame.info of        transaction_id  product_id  customer_id transaction_date online_order  \
0                   1           2         2950        2/25/2017        False
1                   2           3         3120        5/21/2017         True
2                   3          37          402       10/16/2017        False
3                   4          88         3135        8/31/2017        False
4                   5          78          787        10/1/2017         True
...               ...         ...          ...              ...          ...
19995           19996          51         1018        6/24/2017         True
19996           19997          41          127        11/9/2017         True
19997           19998          87         2284        4/14/2017         True
19998           19999           6         2764         7/3/2017        False
19999           20000          11         1144        9/22/2017         True

      order_status           brand product_line product_class product_size  \
0         Approved           Solex     Standard        medium       medium
1         Approved   Trek Bicycles     Standard        medium        large
2         Approved      OHM Cycles     Standard           low       medium
3         Approved  Norco Bicycles     Standard        medium       medium
4         Approved  Giant Bicycles     Standard        medium        large
...            ...             ...          ...           ...          ...
19995     Approved      OHM Cycles     Standard          high       medium
19996     Approved           Solex         Road        medium       medium
19997     Approved      OHM Cycles     Standard        medium       medium
19998     Approved      OHM Cycles     Standard          high       medium
19999     Approved   Trek Bicycles     Standard        medium        small

       list_price standard_cost  product_first_sold_date
0           71.49        $53.62                  41245.0
1         2091.47       $388.92                  41701.0
2         1793.43       $248.82                  36361.0
3         1198.46       $381.10                  36145.0
4         1765.30       $709.48                  42226.0
...           ...           ...                      ...
19995     2005.66     $1,203.40                  37823.0
19996      416.98       $312.74                  35560.0
19997     1636.90        $44.71                  40410.0
19998      227.88       $136.73                  38216.0
19999     1775.81     $1,580.47                  36334.0

[20000 rows x 13 columns]>

In [6]:
df.describe()

,transaction_id,product_id,customer_id,list_price,product_first_sold_date
count,20000.000000,20000.00000,20000.000000,20000.000000,19803.000000
mean,10000.500000,45.36465,1738.246050,1107.829449,38199.776549
std,5773.647028,30.75359,1011.951046,582.825242,2875.201110
min,1.000000,0.00000,1.000000,12.010000,33259.000000
25%,5000.750000,18.00000,857.750000,575.270000,35667.000000
50%,10000.500000,44.00000,1736.000000,1163.890000,38216.000000
75%,15000.250000,72.00000,2613.000000,1635.300000,40672.000000
max,20000.000000,100.00000,5034.000000,2091.470000,42710.000000

In [7]:
df.describe(include="all")

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
count,20000.000000,20000.00000,20000.000000,20000,19640,20000,19803,19803,19803,19803,20000.000000,19803,19803.000000
unique,NaN,NaN,NaN,364,2,2,6,4,3,3,NaN,103,NaN
top,NaN,NaN,NaN,8/18/2017,True,Approved,Solex,Standard,medium,medium,NaN,$388.92,NaN
freq,NaN,NaN,NaN,82,9829,19821,4253,14176,13826,12990,NaN,465,NaN
mean,10000.500000,45.36465,1738.246050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107.829449,NaN,38199.776549
std,5773.647028,30.75359,1011.951046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,582.825242,NaN,2875.201110
min,1.000000,0.00000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.010000,NaN,33259.000000
25%,5000.750000,18.00000,857.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,575.270000,NaN,35667.000000
50%,10000.500000,44.00000,1736.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1163.890000,NaN,38216.000000
75%,15000.250000,72.00000,2613.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1635.300000,NaN,40672.000000
max,20000.000000,100.00000,5034.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2091.470000,NaN,42710.000000

In [8]:
# missing values

In [9]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [10]:
missing_data = df.isnull()

In [11]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

transaction_id
False    20000
Name: transaction_id, dtype: int64

product_id
False    20000
Name: product_id, dtype: int64

customer_id
False    20000
Name: customer_id, dtype: int64

transaction_date
False    20000
Name: transaction_date, dtype: int64

online_order
False    19640
True       360
Name: online_order, dtype: int64

order_status
False    20000
Name: order_status, dtype: int64

brand
False    19803
True       197
Name: brand, dtype: int64

product_line
False    19803
True       197
Name: product_line, dtype: int64

product_class
False    19803
True       197
Name: product_class, dtype: int64

product_size
False    19803
True       197
Name: product_size, dtype: int64

list_price
False    20000
Name: list_price, dtype: int64

standard_cost
False    19803
True       197
Name: standard_cost, dtype: int64

product_first_sold_date
False    19803
True       197
Name: product_first_sold_date, dtype: int64

In [ ]:
#  check uniqueness

In [15]:
df['online_order'].unique()

array([False, True, nan], dtype=object)

In [16]:
df['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [17]:
df['product_line'].unique()

array(['Standard', 'Road', 'Mountain', 'Touring', nan], dtype=object)

In [18]:
df['product_class'].unique()

array(['medium', 'low', 'high', nan], dtype=object)

In [19]:
df['product_size'].unique()

array(['medium', 'large', 'small', nan], dtype=object)

In [20]:
# number of unique customer id

num = len(pd.unique(df['customer_id']))
print("number of unique customer ids: ", num)

number of unique customer ids:  3494

In [ ]:
#aa